# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled output
dist/
build/

# Ignore logs and temporary files
*.log
.DS_Store

# Ignore dependency lock files
package-lock.json
yarn.lock

# Ignore sensitive files
config.js
.parcel-cache